<ion-header  class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-item color="secondary" class="fullheight hcs">
      
    <img class="milk" src="../assets/milk.png" />
    <ion-title color="dark" size="small">
    EXAMEN FINAL
    </ion-title>
    </ion-item>

  </ion-toolbar>
</ion-header>
<ion-content color="warning">
   
  <div class="fullheight xc">
    <ion-item-group>


      <div class="fullheight xc"> 
        <ion-item>
         <ion-text color="medium" size="large">JSON</ion-text>
       </ion-item>
      </div>



 <div class="fullheight xc">
<ion-button color="secondary">quick</ion-button>

<ion-button color="secondary">merge</ion-button>

<ion-button color="secondary">radix</ion-button>
 </div>

   <ion-item>
 <ion-textarea rows="6" cols="20" value="{{filecontent}}"></ion-textarea>
  </ion-item>


   </ion-item-group>
  </div>
  

</ion-content>
